#search{
    background-color: bisque;
}
.view{
    margin-top: 30px;
    width:80%;
    height: 70%;
    background-color:snow;
    text-align: center;
    margin-left: 110px;
    font-family:'Ramaraja', serif;
    font-size: xx-large ;
    font-weight: bolder;
}
h6{
    font-family:'Square Peg', cursive;
    font-size: xx-large ;
    font-weight: bolder;

}