<div class="view">
<br>

<!-- format -->

  <!-- display profile -->
  <div class="container">
 <div class="profile" >
   <div class="row">
     <div class="col">
   <img src="../../../assets/images/index.png" alt="image">
   </div>
   <div class="col">
     <h6>Login:</h6>
     <br>
     <h6>Username:</h6>
     <br>
     <h6>Bio</h6>
    <pre>{{user}}</pre>
   </div>
   </div>
  
 </div>
<!-- display repository -->
 <div class="repos">
   <div class="row">
     <div class="col">Your repository:</div>
   </div>
 </div>
</div>
</div>
