#username{
    background-color: aqua;
}
.container{
    font-family: 'Ramaraja', serif;
    font-size: large;
    /* border: 2px solid skyblue; */
}
input[type=search] {
    width: 50%;
    font-family: 'Ramaraja', serif;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 250px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
  }
img{
    padding-left: 320px;
    text-align: center;
}
button{
    width: 30%;
    padding: 12px 20px;
    margin: 0px 0;
    margin-left: 370px;
    box-sizing: border-box; 
    background-color: rgb(34, 29, 29);
}
/* .formWrapper{
    /* padding-top: 500px; */
