<div class="container-fluid">
    <div class="navigation">
      </div>

<h1>Github_Search</h1>
</div>
<br>
<app-form></app-form>
<br>
<br>
<!-- footer -->
<div class="container-fluid bg-3 text-center">
    <h3>Where To Find Me?</h3>
    <div class="row">
      <div class="col-sm-4">
        <p>Facebook..</p>
        <img src="../assets/images/5305154_fb_facebook_facebook logo_icon.png" alt="Image" width="70px" height="70px">
      </div>
      <div class="col-sm-4">
        <p>Whatsapp..</p>
        <img src="../assets/images/5305167_call_chat_mobile_whatsapp_whatsapp logo_icon.png" alt="Image" width="70px" height="70px">
      </div>
      <div class="col-sm-4">
        <p>Twitter ..</p>
        <img src="../assets/images/5279123_tweet_twitter_twitter logo_icon.png" alt="Image" width="70px" height="70px">
      </div>
    </div>
  </div> 
<router-outlet></router-outlet>

